<div class="user-detail-content">
    <mat-card class="profile-card">
        <img src="/images/profile_img.svg" alt="">
        <div class="user-details">
            <h2>{{ user?.firstName }} {{ user?.lastName }}</h2>
            <span>{{ user?.email }}</span>
        </div>
    </mat-card>

    <mat-card class="user-detail-card">
        <mat-card-header>
            <mat-card-title>Address</mat-card-title>
            <button matIconButton (click)="openAdressDialog()" [matMenuTriggerFor]="adressMenu">
                <mat-icon fontIcon="more_vert"></mat-icon>
            </button>
            <mat-menu #adressMenu="matMenu" xPosition="before">
                <button mat-menu-item>Edit</button>
            </mat-menu>
        </mat-card-header>
        <mat-card-content>
            <span>Street: </span>
            <span>{{ user?.street }}</span>
        </mat-card-content>
    </mat-card>
</div>