.user-detail-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.profile-card{
    height: 300px;
    display: flex;
    align-items: end;
    justify-content: baseline;
    flex-direction: row;

    img{
        width: 120px;
        border-radius: 100%;
    }
}

.user-details{
    margin-left: 32px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    height: 120px;
}

.user-detail-card{
    display: flex;
    flex-direction: column;
}

mat-card-header{
    display: flex;
    justify-content: space-between;
}