@if(loading){
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<h2 mat-dialog-title>Add User</h2>
<mat-dialog-content>
    <div class="user-input-names">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input [(ngModel)]="user.firstName" [disabled]="loading" matInput placeholder="Your Name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input [(ngModel)]="user.lastName" [disabled]="loading" matInput placeholder="Your Name">
        </mat-form-field>
    </div>
    <div class="user-input-names">
        <mat-form-field class="example-form-field full-width" appearance="outline">
            <mat-label>Birthdate</mat-label>
            <input [(ngModel)]="birthDate" [disabled]="loading" matInput [matDatepicker]="datepicker" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                    <button matButton matDatepickerCancel>Cancel</button>
                    <button matButton="elevated" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
    </div>
    <div class="user-input-names">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Street + House No.</mat-label>
            <input [(ngModel)]="user.street" [disabled]="loading" matInput>
        </mat-form-field>
    </div>
    <div class="user-input-names">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Zip Code</mat-label>
            <input [(ngModel)]="user.zipCode" [disabled]="loading" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>City</mat-label>
            <input [(ngModel)]="user.city" [disabled]="loading" matInput>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button matButton [disabled]="loading" (click)="closeDialog()">Cancel</button>
    <button matButton [disabled]="loading" (click)="createUser()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>